/* ChatTitle.css */
.chat-title {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #282727;
    cursor: pointer;
    border-radius: 7px;
  }
  
  .chat-title:hover {
    background-color: #413f3f;
  } 
  .chat-container {
    margin-top: 7%;
    display: flex;
    width: 100%;
    height: auto;
    min-height: 520px;
    border-radius: 7px;
    margin-bottom: 2%;
    }
    
  .chat-titles {
    width: 250px;
    margin-right: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .chat-content {
    width: 77%;
    border-left: 1px solid #ccc;
    padding: 10px;
    padding-top: 0; 
  }
  .loader{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(-50%, -50%);
  }

  .delete-icon{
    color: gray;
  }
  .delete-icon:hover{
    color: red;
  }