.chat-containe {
  overflow: auto;
  margin: 10px;
  margin-top: 20px;
  width: 97%;
  margin-bottom: 25px;
}

.chat-message {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.message-header {
  background-color: #232222;
  /* Color de fondo del encabezado del mensaje */
  color: white;
  padding: 5px;
  font-weight: bold;
  border-top: 1px solid 5e5d5d;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  justify-content: space-between;
  display: flex;
  padding-left: 10px;
}

.message-content {
  border-bottom: 1px solid #5e5d5d;
  border-radius: 5px;
  background-color: rgb(25, 25, 25);
  white-space: pre-wrap;
  max-height: 350px;
  max-width: 500px;
  overflow: auto;
  margin-top: 1.5px;
}

.Detail-container {
  margin-top: 4px;
}

.chat-info {
  padding: 15px; 
  border: 1px solid rgb(91, 91, 91);
  border-radius: 4px;
}

.chat-info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #333; 
  padding-bottom: 5px; 
}

.titles-chat {
  color: #eee; 
  font-weight: bold;
  margin: 0; 
}

.chat-info-value {
  color: #999; 
  font-weight: normal; 
  margin-left: 10px; 
}

.description-chat {
  color: #eee;
  font-weight: bold;
  margin: 0; 
}

.time-icon {
  display: flex; 
  align-items: center;
  color: #ede8e8;
  font-weight: normal;
  margin: 0;
}
.Icon-Copy{
  cursor: pointer;
  color: rgb(226, 27, 27);
}
.Icon-Copy{
  color: white;
}