.container {
    display: flex;
    flex-wrap: wrap;
 
}
.Suport{
    margin-top: 70px;
    padding: 10px 20px 5px 20px;
    width: auto;
    height: auto; 
    max-width: 95vmax;
    min-width: 95%;
    border: 1px solid rgb(113, 111, 111);
}
.box {
    width: auto; /* Dos divs en una fila */
    min-width: 30%;
    padding: 20px;
    margin: 10px 10px 10px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
    /* Configuración para pantallas grandes */
    .box:nth-child(1) {
        width: 55%;
    }
.codeMirrow{
    max-height: 500px; 
    overflow: auto; 
    border-radius: 5px;
    
}
 
.codeMirrow::-webkit-scrollbar {
    width: 6px; 
    height: 20px;
  }
  
  .codeMirrow::-webkit-scrollbar-thumb {

    background-color: #363c4b; 
  }
  
  .codeMirrow::-webkit-scrollbar-track {
    background-color: #888; 
  }
  
   
@media (max-width: 740px) {
    /* Cuando la pantalla es 768px o menos, cambia a una sola columna */
    .box {
        width: 60%;
    }
}

 